:root {
  --bg-color: #1c1e25;
  --bg-color2: #282a33;
  --bright-white: #ffffff;
  --white: #ece6e6;
  --silver: #bbbbbb;
  --gray: #5c5e68;
  --blue: #9ecdff;
  --red: #ff4e4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--white);
  line-height: 2;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: var(--gray); */
  padding: 2rem 1rem;
  text-align: center;
  /* border-bottom: 2px solid var(--silver); */
  background-image: url('./ikebana-header.webp'); background-size: cover; background-position: center;
  height: 400px;
}

h1 {
  font-size: 2rem;
  color: var(--red);
  text-shadow: #141414 1px 1px;
}

h2 {
  font-size: 1.5rem;
  color: var(--red);
  text-shadow: #12151f 1px 1px;
}

h3 {
  font-size: 1.3rem;
  color: var(--bright-white);
  text-shadow: #12151f 1px 1px;
}

a {
  color: var(--bright-white);
  text-decoration: underline;
}

a:hover {
  color: var(--blue);
}

b {
  color: var(--bright-white);
}

.quote {
  color: var(--bright-white);
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-shadow: #141414 1px 1px;
  letter-spacing: 1.2px;
}

.intro {
  text-align: center;
}

.intro img {
  width: 100vw;
  max-width: 400px;
}

.intro p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer {
  padding: 1.5rem 1rem;
  margin-top: auto;
  background-color: var(--bg-color2);
  text-align: center;
}

footer small {
  color: var(--silver);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}